.Content{
    display: flex;
    flex-direction: row;

    background-color: #D3D3D3;
    padding: 1.5%;
    border-radius: 20px;
    
    width: 85%;
    margin: auto;
}

.Data{
    display: flex;
    flex-direction: column;

    width: 50%;

    margin: auto;
    padding-right: 1%;
    padding-left: 1%;

    text-align: center;

    
}

.LatLong {
    background-color: white;
    border-radius: 20px;

    font-size: 1rem;
    padding: 10px 5px 5px 10px;
}
